

<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
</head>
<body>
{% include "main/header.html" %}
<main>
{% block content %}
{% load static %}
    <div class="parallax-container">
      <div class="parallax"><img src="{% static 'main/img/py1.jpg' %}"></div>
    </div>
    <div class="section white">
      <div class="row container">


        <div class="row">
        {% for tut in tutorials %}
            <div class="col s12 m6">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">{{tut.tut_title}}</span>
                        <p style="font-size:70%">Published {{tut.tut_published}}</p>
                        <p>{{tut.tut_content|safe}}</p>
                        <a href="#">go to the tutorial....</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      </div>
    </div>
    {% load static %}
    <div class="parallax-container">
      <div class="parallax"><img src="{% static 'main/img/py2.jpg' %}"></div>
    </div>

{% endblock %}
</main>
{% include "main/footer.html" %}

<script type="text/javascript">
    
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems, options);
  });
</script>

</body>

</html>

